*{
    margin: 0px;
    padding: 0px;
    font-family:cursive;
}
body{
    background-color: rgb(231, 227, 227);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.frame
{
    height: 600px;
    width: 460px;
    background-color: white;
    padding: 10px;
    box-shadow:5px 5px 15px #68cdca,-5px -5px 10px #ffffff ;
}
#display{
    height: 90px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    box-shadow:inset 2px 2px 10px #b4edf4,-5px -5px 10px #ffffff ;
    padding: 10px;
    font-size: 30px;
    box-sizing: border-box;
    text-align: right;
}
.buttons-group{
    display: flex;
    justify-content: space-around;

}
.button{
    height: 85px;
    width: 85px;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: 5px 5px 10px #b4edf4,-5px -5px 10px #ffffff ;
   margin:15px ;
}
.button:active{
    box-shadow:inset 1px 1px 2px #babeec, inset -1px -1px 2px #ffffff ;
}
.button:hover{
    background-color: red;
    color: white;
    cursor: pointer;

}
